---
import Layout from '../../layouts/StandardLayout.astro';

import FAQAnswer from '../../components/FAQAnswer.astro';

// Build the list of questions
let allQuestions = await Astro.glob('./*.md');
allQuestions.sort(function (a, b) {
  if (a.frontmatter.question < b.frontmatter.question) {
    return -1;
  }
  if (a.frontmatter.question > b.frontmatter.question) {
    return 1;
  }
  return 0;
});
---

<Layout title="sourcectl FAQ - Insights into your Software Development Lifecycle">
	<section class="py-20">
		<div class="container px-4 mx-auto">
			<h2 class="mb-12 text-3xl lg:text-4xl font-bold font-heading text-center">Frequently Asked Questions</h2>

			<div class="flex flex-wrap -mx-3 mb-12">
				{allQuestions.map((entry, i) => <FAQAnswer entry={entry} n={i} />)}
			</div>
		</div>
	</section>
</Layout>

<style></style>
