---
import Layout from '../layouts/StandardLayout.astro';
---

<Layout title="sourcectl FAQ - Insights into your Software Development Lifecycle" description="The most frequently asked questions (FAQ) we got from customers and the community answered for you in a concise format.">
	<section class="py-20">
		<div class="container px-4 mx-auto">
			<div class="flex flex-wrap -mx-3">
				<div class="w-full lg:w-1/2 px-3">
					<div class="max-w-sm">
						<span class="text-sm text-blueGray-400">Imprint</span>
						<h2 class="mt-2 text-4xl font-bold font-heading">We will be glad to hear from you!</h2>
					</div>
					<div class="mt-10 lg:mt-24">
						<div class="mb-10 leading-relaxed">
							<h4 class="text-sm text-blueGray-400">E-mail</h4>
							<p>andy@sourcectl.dev</p>
						</div>
						<div class="mb-10 leading-relaxed">
							<h4 class="text-sm text-blueGray-400">Address</h4>
							<p>Am Lindentor 126</p>
							<p>47259 Duisburg</p>
							<p>North Rhine-Westphalia, Germany</p>
						</div>
					</div>
				</div>
				<div class="w-full lg:w-1/2 px-3">
				</div>
			</div>
		</div>
	</section>
</Layout>
