---
import Layout from '../layouts/StandardLayout.astro';
---

<Layout title="Welcome to Astro.">
	<section class="xl:bg-contain bg-top bg-no-repeat" style="background-image: url('/images/backgrounds/intersect.svg');">
		<div class="container px-4 mx-auto">
			<div class="pt-12 text-center">
				<div class="max-w-lg mx-auto mb-8">
					<h2 class="text-3xl md:text-4xl mb-4 font-bold font-heading">
						<span>The quick</span>
						<span class="text-blue-600">brown fox</span>
						<span>jumps over the lazy dog.</span>
					</h2>
					<p class="text-blueGray-400 leading-relaxed">The quick brown fox jumps over the lazy dog.</p>
				</div>
				<div>
					<a class="block sm:inline-block py-4 px-8 mb-4 sm:mb-0 sm:mr-3 text-xs text-white text-center font-semibold leading-none bg-blue-600 hover:bg-blue-700 rounded" href="https://app.sourcectl.dev/">Start now</a>
					<!--
						<a
						class="block sm:inline-block py-4 px-8 text-xs text-blueGray-500 hover:text-blueGray-600 text-center font-semibold leading-none bg-white rounded"
						href="#">Documentation</a>
					-->
				</div>
			</div>
		</div>
		<div class="relative max-w-6xl mt-16 md:mt-8 mb-8 mx-auto">
			<img src="/images/elements/pattern.png" alt="" />
			<div class="absolute" style="top: 9%; left: 14%; width: 72%; height: 66%;">
				<img class="rounded" src="/images/placeholders/metis-dashboard.png" alt="" />
			</div>
		</div>
		<div class="container px-4 mx-auto">
			<div class="flex flex-wrap items-center justify-center max-w-4xl mx-auto pt-8 pb-12">
				<div class="w-1/2 md:w-1/3 lg:w-1/5 px-3 mb-8">
					<img class="mx-auto" src="/images/logos/brands/tesla.svg" alt="" />
				</div>
				<div class="w-1/2 md:w-1/3 lg:w-1/5 px-3 mb-8">
					<img class="mx-auto" src="/images/logos/brands/facebook.svg" alt="" />
				</div>
				<div class="w-1/2 md:w-1/3 lg:w-1/5 px-3 mb-8">
					<img class="mx-auto" src="/images/logos/brands/marvel.svg" alt="" />
				</div>
				<div class="w-1/2 md:w-1/3 lg:w-1/5 px-3 mb-8">
					<img class="mx-auto" src="/images/logos/brands/nike.svg" alt="" />
				</div>
				<div class="hidden md:block w-1/2 md:w-1/3 lg:w-1/5 px-3 mb-8">
					<img class="mx-auto" src="/images/logos/brands/airbnb.svg" alt="" />
				</div>
			</div>
		</div>
	</section>

	<section class="pt-20 pb-8" id="features">
		<div class="container px-4 mx-auto">
			<div class="flex flex-wrap -mx-3">
				<div class="w-full lg:w-1/3 mb-12 md:mb-16 px-3">
					<div class="max-w-md lg:max-w-xs">
						<span class="inline-block text-xs py-1 px-3 text-blue-600 font-semibold bg-blue-100 rounded-xl">Lorem Ipsum</span>
						<h2 class="mt-3 text-3xl md:text-4xl text-blueGray-900 font-bold font-heading">Lorem ipsum dolor sit amet consectutar domor</h2>
					</div>
				</div>
				<div class="flex flex-wrap w-full lg:w-2/3 px-3">
					<div class="w-full md:w-1/2 px-3 mb-12">
						<div class="flex flex-col items-start">
							<div class="p-3 bg-blue-600 rounded-full text-white">
								<svg class="w-10 h-10" xmlns="http://www.w3.org/2000/svg" fill="none" viewbox="0 0 24 24" stroke="currentColor">
									<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M16 8v8m-4-5v5m-4-2v2m-2 4h12a2 2 0 002-2V6a2 2 0 00-2-2H6a2 2 0 00-2 2v12a2 2 0 002 2z"></path>
								</svg>
							</div>
							<div class="mt-6">
								<h3 class="mb-3 text-xl font-semibold font-heading">Easy to customize</h3>
								<p class="text-blueGray-400 leading-loose">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed luctus eget justo et iaculis.</p>
							</div>
						</div>
					</div>
					<div class="w-full md:w-1/2 px-3 mb-12">
						<div class="flex flex-col items-start">
							<div class="p-3 bg-blue-600 rounded-full text-white">
								<svg class="w-10 h-10" xmlns="http://www.w3.org/2000/svg" fill="none" viewbox="0 0 24 24" stroke="currentColor">
									<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 5a1 1 0 011-1h14a1 1 0 011 1v2a1 1 0 01-1 1H5a1 1 0 01-1-1V5zM4 13a1 1 0 011-1h6a1 1 0 011 1v6a1 1 0 01-1 1H5a1 1 0 01-1-1v-6zM16 13a1 1 0 011-1h2a1 1 0 011 1v6a1 1 0 01-1 1h-2a1 1 0 01-1-1v-6z"></path>
								</svg>
							</div>
							<div class="mt-6">
								<h3 class="mb-3 text-xl font-semibold font-heading">Outstanding look</h3>
								<p class="text-blueGray-400 leading-loose">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed luctus eget justo et iaculis.</p>
							</div>
						</div>
					</div>
					<div class="w-full md:w-1/2 px-3 mb-12">
						<div class="flex flex-col items-start">
							<div class="p-3 bg-blue-600 rounded-full text-white">
								<svg class="w-10 h-10" xmlns="http://www.w3.org/2000/svg" fill="none" viewbox="0 0 24 24" stroke="currentColor">
									<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M8 9l3 3-3 3m5 0h3M5 20h14a2 2 0 002-2V6a2 2 0 00-2-2H5a2 2 0 00-2 2v12a2 2 0 002 2z"></path>
								</svg>
							</div>
							<div class="mt-6">
								<h3 class="mb-3 text-xl font-semibold font-heading">Flexible software</h3>
								<p class="text-blueGray-400 leading-loose">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed luctus eget justo et iaculis.</p>
							</div>
						</div>
					</div>
					<div class="w-full md:w-1/2 px-3 mb-12">
						<div class="flex flex-col items-start">
							<div class="p-3 bg-blue-600 rounded-full text-white">
								<svg class="w-10 h-10" xmlns="http://www.w3.org/2000/svg" fill="none" viewbox="0 0 24 24" stroke="currentColor">
									<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M16 8v8m-4-5v5m-4-2v2m-2 4h12a2 2 0 002-2V6a2 2 0 00-2-2H6a2 2 0 00-2 2v12a2 2 0 002 2z"></path>
								</svg>
							</div>
							<div class="mt-6">
								<h3 class="mb-3 text-xl font-semibold font-heading">Key Elements</h3>
								<p class="text-blueGray-400 leading-loose">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed luctus eget justo et iaculis.</p>
							</div>
						</div>
					</div>
					<div class="w-full md:w-1/2 px-3 mb-12">
						<div class="flex flex-col items-start">
							<div class="p-3 bg-blue-600 rounded-full text-white">
								<svg class="w-10 h-10" xmlns="http://www.w3.org/2000/svg" fill="none" viewbox="0 0 24 24" stroke="currentColor">
									<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 5a1 1 0 011-1h14a1 1 0 011 1v2a1 1 0 01-1 1H5a1 1 0 01-1-1V5zM4 13a1 1 0 011-1h6a1 1 0 011 1v6a1 1 0 01-1 1H5a1 1 0 01-1-1v-6zM16 13a1 1 0 011-1h2a1 1 0 011 1v6a1 1 0 01-1 1h-2a1 1 0 01-1-1v-6z"></path>
								</svg>
							</div>
							<div class="mt-6">
								<h3 class="mb-3 text-xl font-semibold font-heading">Outstanding look</h3>
								<p class="text-blueGray-400 leading-loose">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed luctus eget justo et iaculis.</p>
							</div>
						</div>
					</div>
					<div class="w-full md:w-1/2 px-3 mb-12">
						<div class="flex flex-col items-start">
							<div class="p-3 bg-blue-600 rounded-full text-white">
								<svg class="w-10 h-10" xmlns="http://www.w3.org/2000/svg" fill="none" viewbox="0 0 24 24" stroke="currentColor">
									<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M8 9l3 3-3 3m5 0h3M5 20h14a2 2 0 002-2V6a2 2 0 00-2-2H5a2 2 0 00-2 2v12a2 2 0 002 2z"></path>
								</svg>
							</div>
							<div class="mt-6">
								<h3 class="mb-3 text-xl font-semibold font-heading">Flexible software</h3>
								<p class="text-blueGray-400 leading-loose">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed luctus eget justo et iaculis.</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section class="pt-20 pb-20 lg:pb-12">
		<div class="flex flex-wrap">
			<div class="relative w-full lg:w-1/2 px-4 lg:h-128">
				<div class="relative lg:absolute left-0 top-0 lg:max-w-6xl mx-auto lg:-ml-64">
					<img class="lg:h-128" src="/images/elements/macbook.png" alt="" />
					<div class="absolute" style="top: 5.8%; left: 14.6%; width: 72.8%; height: 76.8%;">
						<img class="object-cover w-full h-full" src="/images/placeholders/metis-dashboard-square.png" alt="" />
					</div>
				</div>
			</div>
			<div class="flex w-full lg:w-1/2 lg:max-w-lg lg:h-128 px-4 lg:pl-16">
				<div class="my-auto mx-auto pt-8 lg:pt-0 max-w-2xl lg:max-w-lg">
					<h2 class="text-3xl md:text-4xl mb-4 font-bold font-heading">
						<span>Make your</span>
						<span class="text-blue-600">life easier</span>
						<span>for marketing sales and customer support</span>
					</h2>
					<p class="text-blueGray-400 leading-loose mb-6">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed luctus eget justo et iaculis.</p>
					<a class="inline-block py-4 px-8 text-xs text-white font-semibold leading-none bg-blue-600 hover:bg-blue-700 rounded" href="#">Learn more</a>
				</div>
			</div>
		</div>
	</section>

	<section class="pt-20 pb-20 lg:pb-12 overflow-x-hidden">
		<div class="flex flex-wrap">
			<div class="flex order-1 lg:order-0 w-full lg:w-1/2 lg:h-128 lg:max-w-lg lg:ml-auto px-4 lg:pr-24 xl:pr-4">
				<div class="my-auto mx-auto pt-8 lg:pt-0 max-w-2xl lg:max-w-lg">
					<h2 class="text-3xl md:text-4xl mb-4 font-bold font-heading">
						<span>Make your</span>
						<span class="text-blue-600">life easier</span>
						<span>for marketing sales and customer support</span>
					</h2>
					<p class="text-blueGray-400 leading-loose mb-6">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed luctus eget justo et iaculis.</p>
					<a class="inline-block py-4 px-8 text-xs text-white font-semibold leading-none bg-blue-600 hover:bg-blue-700 rounded" href="#">Learn more</a>
				</div>
			</div>
			<div class="relative order-0 lg:order-1 w-full lg:w-1/2 px-4 lg:h-128">
				<div class="relative lg:absolute right-0 top-0 lg:max-w-6xl mx-auto lg:-mr-64">
					<img class="lg:h-128" src="/images/elements/macbook.png" alt="" />
					<div class="absolute" style="top: 5.8%; left: 14.6%; width: 72.8%; height: 76.8%;">
						<img class="object-cover w-full h-full" src="/images/placeholders/metis-dashboard-square.png" alt="" />
					</div>
				</div>
			</div>
		</div>
	</section>

	<section class="pt-20 pb-8">
		<div class="container px-4 mx-auto">
			<div class="flex flex-wrap -mx-3">
				<div class="w-full lg:w-1/3 mb-12 md:mb-16 px-3">
					<div class="max-w-md lg:max-w-xs">
						<span class="inline-block text-xs py-1 px-3 text-blue-600 font-semibold bg-blue-100 rounded-xl">Lorem Ipsum</span>
						<h2 class="mt-3 text-3xl md:text-4xl text-blueGray-900 font-bold font-heading">Lorem ipsum dolor sit amet consectutar domor</h2>
					</div>
				</div>
				<div class="flex flex-wrap w-full lg:w-2/3 px-3">
					<div class="w-full md:w-1/2 px-3 mb-12">
						<div class="flex flex-col items-start">
							<div class="p-3 bg-blue-600 rounded-full text-white">
								<svg class="w-10 h-10" xmlns="http://www.w3.org/2000/svg" fill="none" viewbox="0 0 24 24" stroke="currentColor">
									<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M16 8v8m-4-5v5m-4-2v2m-2 4h12a2 2 0 002-2V6a2 2 0 00-2-2H6a2 2 0 00-2 2v12a2 2 0 002 2z"></path>
								</svg>
							</div>
							<div class="mt-6">
								<h3 class="mb-3 text-xl font-semibold font-heading">Easy to customize</h3>
								<p class="text-blueGray-400 leading-loose">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed luctus eget justo et iaculis.</p>
							</div>
						</div>
					</div>
					<div class="w-full md:w-1/2 px-3 mb-12">
						<div class="flex flex-col items-start">
							<div class="p-3 bg-blue-600 rounded-full text-white">
								<svg class="w-10 h-10" xmlns="http://www.w3.org/2000/svg" fill="none" viewbox="0 0 24 24" stroke="currentColor">
									<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 5a1 1 0 011-1h14a1 1 0 011 1v2a1 1 0 01-1 1H5a1 1 0 01-1-1V5zM4 13a1 1 0 011-1h6a1 1 0 011 1v6a1 1 0 01-1 1H5a1 1 0 01-1-1v-6zM16 13a1 1 0 011-1h2a1 1 0 011 1v6a1 1 0 01-1 1h-2a1 1 0 01-1-1v-6z"></path>
								</svg>
							</div>
							<div class="mt-6">
								<h3 class="mb-3 text-xl font-semibold font-heading">Outstanding look</h3>
								<p class="text-blueGray-400 leading-loose">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed luctus eget justo et iaculis.</p>
							</div>
						</div>
					</div>
					<div class="w-full md:w-1/2 px-3 mb-12">
						<div class="flex flex-col items-start">
							<div class="p-3 bg-blue-600 rounded-full text-white">
								<svg class="w-10 h-10" xmlns="http://www.w3.org/2000/svg" fill="none" viewbox="0 0 24 24" stroke="currentColor">
									<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M8 9l3 3-3 3m5 0h3M5 20h14a2 2 0 002-2V6a2 2 0 00-2-2H5a2 2 0 00-2 2v12a2 2 0 002 2z"></path>
								</svg>
							</div>
							<div class="mt-6">
								<h3 class="mb-3 text-xl font-semibold font-heading">Flexible software</h3>
								<p class="text-blueGray-400 leading-loose">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed luctus eget justo et iaculis.</p>
							</div>
						</div>
					</div>
					<div class="w-full md:w-1/2 px-3 mb-12">
						<div class="flex flex-col items-start">
							<div class="p-3 bg-blue-600 rounded-full text-white">
								<svg class="w-10 h-10" xmlns="http://www.w3.org/2000/svg" fill="none" viewbox="0 0 24 24" stroke="currentColor">
									<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M16 8v8m-4-5v5m-4-2v2m-2 4h12a2 2 0 002-2V6a2 2 0 00-2-2H6a2 2 0 00-2 2v12a2 2 0 002 2z"></path>
								</svg>
							</div>
							<div class="mt-6">
								<h3 class="mb-3 text-xl font-semibold font-heading">Key Elements</h3>
								<p class="text-blueGray-400 leading-loose">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed luctus eget justo et iaculis.</p>
							</div>
						</div>
					</div>
					<div class="w-full md:w-1/2 px-3 mb-12">
						<div class="flex flex-col items-start">
							<div class="p-3 bg-blue-600 rounded-full text-white">
								<svg class="w-10 h-10" xmlns="http://www.w3.org/2000/svg" fill="none" viewbox="0 0 24 24" stroke="currentColor">
									<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 5a1 1 0 011-1h14a1 1 0 011 1v2a1 1 0 01-1 1H5a1 1 0 01-1-1V5zM4 13a1 1 0 011-1h6a1 1 0 011 1v6a1 1 0 01-1 1H5a1 1 0 01-1-1v-6zM16 13a1 1 0 011-1h2a1 1 0 011 1v6a1 1 0 01-1 1h-2a1 1 0 01-1-1v-6z"></path>
								</svg>
							</div>
							<div class="mt-6">
								<h3 class="mb-3 text-xl font-semibold font-heading">Outstanding look</h3>
								<p class="text-blueGray-400 leading-loose">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed luctus eget justo et iaculis.</p>
							</div>
						</div>
					</div>
					<div class="w-full md:w-1/2 px-3 mb-12">
						<div class="flex flex-col items-start">
							<div class="p-3 bg-blue-600 rounded-full text-white">
								<svg class="w-10 h-10" xmlns="http://www.w3.org/2000/svg" fill="none" viewbox="0 0 24 24" stroke="currentColor">
									<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M8 9l3 3-3 3m5 0h3M5 20h14a2 2 0 002-2V6a2 2 0 00-2-2H5a2 2 0 00-2 2v12a2 2 0 002 2z"></path>
								</svg>
							</div>
							<div class="mt-6">
								<h3 class="mb-3 text-xl font-semibold font-heading">Flexible software</h3>
								<p class="text-blueGray-400 leading-loose">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed luctus eget justo et iaculis.</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section class="py-20" id="how-it-works">
		<div class="container px-4 mx-auto">
			<div class="flex flex-wrap -mx-3">
				<div class="w-full md:w-1/2 px-3 order-1 md:order-0">
					<div class="max-w-md">
						<h2 class="mb-4 text-3xl md:text-4xl font-bold font-heading">Lorem ipsum dolor sit amet consectutar domor</h2>
						<p class="mb-6 leading-loose text-blueGray-400">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed luctus eget justo et iaculis.</p>
						<ul>
							<li class="py-4">
								<span class="inline-block py-2 px-3 mr-4 text-xs font-semibold bg-green-50 text-green-600 rounded">1</span>
								<span>Proin volutpat ex eu</span>
							</li>
							<li class="py-4">
								<span class="inline-block py-2 px-3 mr-4 text-xs font-semibold bg-green-50 text-green-600 rounded">2</span>
								<span>Fusce posuere nibh in cursus</span>
							</li>
							<li class="py-4">
								<span class="inline-block py-2 px-3 mr-4 text-xs font-semibold bg-green-50 text-green-600 rounded">3</span>
								<span>Maecenas sit amet vehicula</span>
							</li>
						</ul>
					</div>
				</div>
				<div class="w-full md:w-1/2 px-3 order-0 md:order-1 mb-12 md:mb-0">
					<img class="sm:max-w-sm lg:max-w-full mx-auto" src="/images/illustrations/work-tv.png" alt="" />
				</div>
			</div>
		</div>
	</section>

	<section class="py-20 xl:bg-contain bg-top bg-no-repeat" id="pricing" style="background-image: url('/images/backgrounds/intersect.svg');">
		<div class="container px-4 mx-auto">
			<div class="text-center mb-16">
				<h2 class="max-w-lg mx-auto mb-4 text-4xl font-bold font-heading">
					<span>Start saving time today and</span>
					<span class="text-blue-600">choose</span>
					<span>your best plan</span>
				</h2>
				<p class="max-w-sm mx-auto text-lg text-blueGray-400">Best for freelance developers who need to save their time</p>
			</div>
			<div class="flex flex-wrap -mx-3">
				<div class="w-full md:w-1/2 lg:w-1/3 px-3 mb-6">
					<div class="pt-16 pb-8 px-4 text-center bg-white rounded shadow">
						<img class="h-20 mb-6 mx-auto" src="/images/illustrations/people.png" alt="" />
						<h3 class="mb-2 text-4xl font-bold font-heading">Begginer</h3>
						<span class="text-4xl text-blue-600 font-bold font-heading">$32.99</span>
						<p class="mt-2 mb-8 text-blueGray-400">user per month</p>
						<div class="flex flex-col items-center mb-8">
							<ul class="text-blueGray-400">
								<li class="flex mb-3">
									<svg class="w-6 h-6 mr-2 text-green-500" xmlns="http://www.w3.org/2000/svg" fill="none" viewbox="0 0 24 24" stroke="currentColor">
										<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z"></path>
									</svg>
									<span>3 Emails</span>
								</li>
								<li class="flex mb-3">
									<svg class="w-6 h-6 mr-2 text-green-500" xmlns="http://www.w3.org/2000/svg" fill="none" viewbox="0 0 24 24" stroke="currentColor">
										<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z"></path>
									</svg>
									<span>1 Datebases</span>
								</li>
								<li class="flex mb-3">
									<svg class="w-6 h-6 mr-2 text-green-500" xmlns="http://www.w3.org/2000/svg" fill="none" viewbox="0 0 24 24" stroke="currentColor">
										<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z"></path>
									</svg>
									<span>Unlimited Domains</span>
								</li>
								<li class="flex">
									<svg class="w-6 h-6 mr-2 text-green-500" xmlns="http://www.w3.org/2000/svg" fill="none" viewbox="0 0 24 24" stroke="currentColor">
										<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z"></path>
									</svg>
									<span>10 GB Storage</span>
								</li>
							</ul>
						</div>
						<div>
							<a class="block sm:inline-block py-4 px-6 mb-4 sm:mb-0 sm:mr-3 text-xs text-white text-center font-semibold leading-none bg-blue-600 hover:bg-blue-700 rounded" href="#">Start Free Trial</a><a
								class="block sm:inline-block py-4 px-6 text-xs text-blueGray-500 hover:text-blueGray-600 text-center font-semibold leading-none bg-white border border-blueGray-200 hover:border-blueGray-300 rounded"
								href="#">Purchase</a>
						</div>
					</div>
				</div>
				<div class="w-full md:w-1/2 lg:w-1/3 px-3 mb-6">
					<div class="pt-16 pb-8 px-4 text-center text-white bg-blue-600 rounded shadow">
						<img class="h-20 mb-6 mx-auto" src="/images/illustrations/job-interview.png" alt="" />
						<h3 class="mb-2 text-4xl font-bold font-heading">Intermediate</h3>
						<span class="text-4xl font-bold font-heading">$55.99</span>
						<p class="mt-2 mb-8">user per month</p>
						<div class="flex flex-col items-center mb-8">
							<ul>
								<li class="flex items-center mb-3">
									<svg class="w-6 h-6 mr-2 text-green-500" xmlns="http://www.w3.org/2000/svg" fill="none" viewbox="0 0 24 24" stroke="currentColor">
										<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z"></path>
									</svg>
									<span>6 Emails</span>
								</li>
								<li class="flex items-center mb-3">
									<svg class="w-6 h-6 mr-2 text-green-500" xmlns="http://www.w3.org/2000/svg" fill="none" viewbox="0 0 24 24" stroke="currentColor">
										<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z"></path>
									</svg>
									<span>4 Datebases</span>
								</li>
								<li class="flex items-center mb-3">
									<svg class="w-6 h-6 mr-2 text-green-500" xmlns="http://www.w3.org/2000/svg" fill="none" viewbox="0 0 24 24" stroke="currentColor">
										<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z"></path>
									</svg>
									<span>Unlimited Domains</span>
								</li>
								<li class="flex items-center">
									<svg class="w-6 h-6 mr-2 text-green-500" xmlns="http://www.w3.org/2000/svg" fill="none" viewbox="0 0 24 24" stroke="currentColor">
										<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z"></path>
									</svg>
									<span>35 GB Storage</span>
								</li>
							</ul>
						</div>
						<div>
							<a class="block sm:inline-block py-4 px-6 mb-4 sm:mb-0 sm:mr-3 text-xs text-blue-600 font-semibold leading-none bg-white hover:bg-blueGray-50 rounded" href="#">Start Free Trial</a><a
								class="block sm:inline-block py-4 px-6 text-xs font-semibold leading-none border border border-blue-500 hover:border-blue-400 rounded"
								href="#">Purchase</a>
						</div>
					</div>
				</div>
				<div class="w-full lg:w-1/3 px-3 mb-6">
					<div class="pt-16 pb-8 px-4 text-center bg-white rounded shadow">
						<img class="h-20 mb-6 mx-auto" src="/images/illustrations/team-management.png" alt="" />
						<h3 class="mb-2 text-4xl font-bold font-heading">Professional</h3>
						<span class="text-4xl text-blue-600 font-bold font-heading">$62.99</span>
						<p class="mt-2 mb-8 text-blueGray-400">user per month</p>
						<div class="flex flex-col items-center mb-8">
							<ul class="text-blueGray-400">
								<li class="flex mb-3">
									<svg class="w-6 h-6 mr-2 text-green-500" xmlns="http://www.w3.org/2000/svg" fill="none" viewbox="0 0 24 24" stroke="currentColor">
										<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z"></path>
									</svg>
									<span>12 Emails</span>
								</li>
								<li class="flex mb-3">
									<svg class="w-6 h-6 mr-2 text-green-500" xmlns="http://www.w3.org/2000/svg" fill="none" viewbox="0 0 24 24" stroke="currentColor">
										<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z"></path>
									</svg>
									<span>8 Datebases</span>
								</li>
								<li class="flex mb-3">
									<svg class="w-6 h-6 mr-2 text-green-500" xmlns="http://www.w3.org/2000/svg" fill="none" viewbox="0 0 24 24" stroke="currentColor">
										<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z"></path>
									</svg>
									<span>Unlimited Domains</span>
								</li>
								<li class="flex">
									<svg class="w-6 h-6 mr-2 text-green-500" xmlns="http://www.w3.org/2000/svg" fill="none" viewbox="0 0 24 24" stroke="currentColor">
										<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z"></path>
									</svg>
									<span>50 GB Storage</span>
								</li>
							</ul>
						</div>
						<div>
							<a class="block sm:inline-block py-4 px-6 mb-4 sm:mb-0 sm:mr-3 text-xs text-white text-center font-semibold leading-none bg-blue-600 hover:bg-blue-700 rounded" href="#">Start Free Trial</a><a
								class="block sm:inline-block py-4 px-6 text-xs text-blueGray-500 hover:text-blueGray-600 text-center font-semibold leading-none bg-white border border-blueGray-200 hover:border-blueGray-300 rounded"
								href="#">Purchase</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section class="pt-20 pb-24">
		<div class="container px-4 mx-auto">
			<div class="max-w-xl mx-auto text-center">
				<span class="inline-block py-1 px-3 text-xs md:text-sm rounded-xl bg-blue-50 text-blue-600 font-semibold">Lorem Ipsum</span>
				<h2 class="my-2 text-3xl md:text-4xl font-bold font-heading">Lorem ipsum dolor sit amet consectutar domor</h2>
				<div class="mt-6">
					<a class="block sm:inline-block py-4 px-8 mb-4 sm:mb-0 sm:mr-3 text-xs text-white text-center font-semibold leading-none bg-blue-600 hover:bg-blue-700 rounded" href="#">Check Now</a><a
						class="block sm:inline-block py-4 px-8 text-xs text-blueGray-500 hover:text-blueGray-600 text-center font-semibold leading-none bg-white border border-blueGray-200 hover:border-blueGray-300 rounded"
						href="#">Learn more</a>
				</div>
			</div>
		</div>
	</section>

	<section class="py-20" id="contact">
		<div class="container px-4 mx-auto">
			<div class="max-w-2xl lg:max-w-3xl mx-auto">
				<div class="mb-12 text-center">
					<h2 class="text-4xl font-bold font-heading">Get in touch!</h2>
					<p class="text-blueGray-400">We will be glad to hear from you</p>
				</div>
				<div class="flex flex-wrap -mx-3 text-center">
					<div class="w-1/2 lg:w-1/3 px-3 mb-12">
						<svg class="mb-6 h-8 w-8 mx-auto text-blue-600" xmlns="http://www.w3.org/2000/svg" fill="none" viewbox="0 0 24 24" stroke="currentColor">
							<path
								stroke-linecap="round"
								stroke-linejoin="round"
								stroke-width="2"
								d="M3 5a2 2 0 012-2h3.28a1 1 0 01.948.684l1.498 4.493a1 1 0 01-.502 1.21l-2.257 1.13a11.042 11.042 0 005.516 5.516l1.13-2.257a1 1 0 011.21-.502l4.493 1.498a1 1 0 01.684.949V19a2 2 0 01-2 2h-1C9.716 21 3 14.284 3 6V5z"></path>
						</svg>
						<div class="leading-relaxed">
							<span class="text-sm text-blueGray-400">Phone</span>
							<p>+ 48 654-430-309</p>
							<p>+ 1 6532-430-309</p>
						</div>
					</div>
					<div class="w-1/2 lg:w-1/3 px-3 mb-12">
						<svg class="mb-6 h-8 w-8 mx-auto text-blue-600" xmlns="http://www.w3.org/2000/svg" fill="none" viewbox="0 0 24 24" stroke="currentColor">
							<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 8l7.89 5.26a2 2 0 002.22 0L21 8M5 19h14a2 2 0 002-2V7a2 2 0 00-2-2H5a2 2 0 00-2 2v10a2 2 0 002 2z"></path>
						</svg>
						<div class="leading-relaxed">
							<span class="text-sm text-blueGray-400">E-mail</span>
							<p>info@example.com</p>
							<p>pat@example.com</p>
						</div>
					</div>
					<div class="w-full lg:w-1/3 px-3 mb-12">
						<svg class="mb-6 h-8 w-8 mx-auto text-blue-600" xmlns="http://www.w3.org/2000/svg" fill="none" viewbox="0 0 24 24" stroke="currentColor">
							<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M17.657 16.657L13.414 20.9a1.998 1.998 0 01-2.827 0l-4.244-4.243a8 8 0 1111.314 0z"></path>
							<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 11a3 3 0 11-6 0 3 3 0 016 0z"></path>
						</svg>
						<div class="leading-relaxed">
							<span class="text-sm text-blueGray-400">Address</span>
							<p>11567 E Broadview Dr</p>
							<p>Colorado(CO), 80117</p>
						</div>
					</div>
				</div>
				<div>
					<form>
						<div class="mb-4 text-sm">
							<span class="mr-4 font-semibold">Departament:</span>
							<label class="mr-4">
								<input class="mr-1" type="radio" name="department" value="1" checked />
								<span>Support</span>
							</label>
							<label>
								<input class="mr-1" type="radio" name="department" value="2" />
								<span>Sales</span>
							</label>
						</div>
						<div class="flex flex-wrap mb-4 -mx-3">
							<div class="w-full lg:w-1/2 px-3 mb-4 lg:mb-0">
								<div class="mb-4">
									<input class="w-full p-4 text-xs font-semibold leading-none bg-blueGray-50 rounded outline-none" type="text" placeholder="Subject" />
								</div>
								<div class="mb-4">
									<input class="w-full p-4 text-xs font-semibold leading-none bg-blueGray-50 rounded outline-none" type="text" placeholder="Name" />
								</div>
								<div class="mb-4">
									<input class="w-full p-4 text-xs font-semibold leading-none bg-blueGray-50 rounded outline-none" type="email" placeholder="name@example.com" />
								</div>
								<div>
									<label class="flex px-2 bg-blueGray-50 rounded">
										<input class="hidden" type="file" placeholder="Choose file.." name="Choose file" />
										<div class="my-1 ml-auto px-4 py-3 text-xs text-white font-semibold leading-none bg-blueGray-500 hover:bg-blueGray-600 rounded cursor-pointer">Browse</div>
									</label>
								</div>
							</div>
							<div class="w-full lg:w-1/2 px-3"><textarea class="w-full h-full p-4 text-xs font-semibold leading-none resize-none bg-blueGray-50 rounded outline-none" type="text" placeholder="Message..."></textarea></div>
						</div>
						<div class="flex justify-between items-center">
							<label>
								<input class="mr-1" type="checkbox" name="terms" value="1" />
								<span class="text-sm font-semibold">I agree to terms and conditions.</span>
							</label>
							<button class="py-4 px-8 text-sm text-white font-semibold leading-none bg-blue-600 hover:bg-blue-700 rounded" type="submit">Submit</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</section>
</Layout>

<style></style>
