---
import Layout from '../../layouts/StandardLayout.astro';

import NewsPostPreview from '../../components/NewsPostPreview.astro';

// Build the list of Changelog entries
let allChangelogEntries = await Astro.glob('./entry/*.md');
allChangelogEntries.sort((a, b) => new Date(b.frontmatter.pubDate).valueOf() - new Date(a.frontmatter.pubDate).valueOf());
---

<Layout title="Welcome to Astro.">
	<section class="py-20">
		<div class="container px-4 mx-auto">
			<h2 class="mb-12 lg:mb-20 text-3xl md:text-4xl font-bold font-heading">Our Changelog</h2>

			{allChangelogEntries.map((entry, i) => <NewsPostPreview entry={entry} n={i} />)}
		</div>
	</section>
</Layout>

<style></style>
